<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-accreditation-step-heading" jhiTranslate="kidoleApp.accreditationStep.home.createOrEditLabel">Create or edit a Accreditation Step</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.accreditationStep.debut" for="field_debut">Debut</label>
                    <div class="d-flex">
                        <input id="field_debut" type="datetime-local" class="form-control" name="debut" formControlName="debut" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.accreditationStep.fin" for="field_fin">Fin</label>
                    <div class="d-flex">
                        <input id="field_fin" type="datetime-local" class="form-control" name="fin" formControlName="fin" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.accreditationStep.numero" for="field_numero">Numero</label>
                    <input type="number" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.accreditationStep.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="ATHLETE">{{'kidoleApp.AccreditationList.ATHLETE' | translate}}</option>
                        <option value="SPARING">{{'kidoleApp.AccreditationList.SPARING' | translate}}</option>
                        <option value="TRAINNER">{{'kidoleApp.AccreditationList.TRAINNER' | translate}}</option>
                        <option value="TEAM_OFFICIAL">{{'kidoleApp.AccreditationList.TEAM_OFFICIAL' | translate}}</option>
                        <option value="ARBITRE">{{'kidoleApp.AccreditationList.ARBITRE' | translate}}</option>
                        <option value="COMMITY_MEMBER_LOCAL">{{'kidoleApp.AccreditationList.COMMITY_MEMBER_LOCAL' | translate}}</option>
                        <option value="DIGNITAIRE">{{'kidoleApp.AccreditationList.DIGNITAIRE' | translate}}</option>
                        <option value="SPECIAL_INVITEE">{{'kidoleApp.AccreditationList.SPECIAL_INVITEE' | translate}}</option>
                        <option value="COMMITY_MEMBER_NATIONAL">{{'kidoleApp.AccreditationList.COMMITY_MEMBER_NATIONAL' | translate}}</option>
                        <option value="VOLONTEER">{{'kidoleApp.AccreditationList.VOLONTEER' | translate}}</option>
                        <option value="PRESS_AGENT">{{'kidoleApp.AccreditationList.PRESS_AGENT' | translate}}</option>
                        <option value="SECURITY_AGENT">{{'kidoleApp.AccreditationList.SECURITY_AGENT' | translate}}</option>
                        <option value="SPONSOR">{{'kidoleApp.AccreditationList.SPONSOR' | translate}}</option>
                        <option value="PARTNER">{{'kidoleApp.AccreditationList.PARTNER' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.accreditationStep.competition" for="field_competition">Competition</label>
                    <select class="form-control" id="field_competition" name="competition" formControlName="competitionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="competitionOption.id" *ngFor="let competitionOption of competitions; trackBy: trackById">{{competitionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
