<div>
    <h2 id="page-heading">
        <span jhiTranslate="kidoleApp.accreditationStep.home.title">Accreditation Steps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-accreditation-step" [routerLink]="['/accreditation-step/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="kidoleApp.accreditationStep.home.createLabel">
            Create a new Accreditation Step
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'kidoleApp.accreditationStep.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="accreditationSteps?.length === 0">
        <span jhiTranslate="kidoleApp.accreditationStep.home.notFound">No accreditationSteps found</span>
    </div>
    <div class="table-responsive" *ngIf="accreditationSteps?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="startTime"><span jhiTranslate="kidoleApp.accreditationStep.startTime">Start Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="endTime"><span jhiTranslate="kidoleApp.accreditationStep.endTime">End Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="accreditationStepnumber"><span jhiTranslate="kidoleApp.accreditationStep.accreditationStepnumber">Accreditation Stepnumber</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="accreditationType"><span jhiTranslate="kidoleApp.accreditationStep.accreditationType">Accreditation Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isPublic"><span jhiTranslate="kidoleApp.accreditationStep.isPublic">Is Public</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="uri"><span jhiTranslate="kidoleApp.accreditationStep.uri">Uri</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fields"><span jhiTranslate="kidoleApp.accreditationStep.fields">Fields</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="competitionId"><span jhiTranslate="kidoleApp.accreditationStep.competition">Competition</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let accreditationStep of accreditationSteps ;trackBy: trackId">
                <td><a [routerLink]="['/accreditation-step', accreditationStep.id, 'view' ]">{{accreditationStep.id}}</a></td>
                <td>{{accreditationStep.startTime | date:'medium'}}</td>
                <td>{{accreditationStep.endTime | date:'medium'}}</td>
                <td>{{accreditationStep.accreditationStepnumber}}</td>
                <td jhiTranslate="{{'kidoleApp.AccreditationList.' + accreditationStep.accreditationType}}">{{accreditationStep.accreditationType}}</td>
                <td>{{accreditationStep.isPublic}}</td>
                <td>{{accreditationStep.uri}}</td>
                <td>{{accreditationStep.fields}}</td>
                <td>
                    <div *ngIf="accreditationStep.competitionId">
                        <a [routerLink]="['/competition', accreditationStep.competitionId , 'view' ]" >{{accreditationStep.competitionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/accreditation-step', accreditationStep.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/accreditation-step', accreditationStep.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(accreditationStep)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="accreditationSteps?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
