<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-category-heading" jhiTranslate="kidoleApp.category.home.createOrEditLabel">Create or edit a Category</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.category.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.category.yearlimit" for="field_yearlimit">Yearlimit</label>
                    <input type="number" class="form-control" name="yearlimit" id="field_yearlimit"
                           formControlName="yearlimit"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.category.teamLimitNumb" for="field_teamLimitNumb">Team Limit Numb</label>
                    <input type="number" class="form-control" name="teamLimitNumb" id="field_teamLimitNumb"
                           formControlName="teamLimitNumb"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.category.participantLimitByteam" for="field_participantLimitByteam">Participant Limit Byteam</label>
                    <input type="number" class="form-control" name="participantLimitByteam" id="field_participantLimitByteam"
                           formControlName="participantLimitByteam"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.category.regles" for="field_regles">Regles</label>
                    <textarea class="form-control" name="regles" id="field_regles"
                              formControlName="regles"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.category.discipline" for="field_discipline">Discipline</label>
                    <select class="form-control" id="field_discipline" name="discipline" formControlName="disciplineId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="disciplineOption.id" *ngFor="let disciplineOption of disciplines; trackBy: trackById">{{disciplineOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
