<div>
    <h2 id="page-heading">
        <span jhiTranslate="kidoleApp.competition.home.title">Competitions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-competition" [routerLink]="['/competition/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="kidoleApp.competition.home.createLabel">
            Create a new Competition
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'kidoleApp.competition.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="competitions?.length === 0">
        <span jhiTranslate="kidoleApp.competition.home.notFound">No competitions found</span>
    </div>
    <div class="table-responsive" *ngIf="competitions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="competitionName"><span jhiTranslate="kidoleApp.competition.competitionName">Competition Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="start"><span jhiTranslate="kidoleApp.competition.start">Start</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="end"><span jhiTranslate="kidoleApp.competition.end">End</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateLimit"><span jhiTranslate="kidoleApp.competition.dateLimit">Date Limit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="detail"><span jhiTranslate="kidoleApp.competition.detail">Detail</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="rule"><span jhiTranslate="kidoleApp.competition.rule">Rule</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="userFirstName"><span jhiTranslate="kidoleApp.competition.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let competition of competitions ;trackBy: trackId">
                <td><a [routerLink]="['/competition', competition.id, 'view' ]">{{competition.id}}</a></td>
                <td>{{competition.competitionName}}</td>
                <td>{{competition.start | date:'medium'}}</td>
                <td>{{competition.end | date:'medium'}}</td>
                <td>{{competition.dateLimit | date:'medium'}}</td>
                <td>{{competition.detail}}</td>
                <td>
                    <a *ngIf="competition.rule" (click)="openFile(competition.ruleContentType, competition.rule)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="competition.rule">{{competition.ruleContentType}}, {{byteSize(competition.rule)}}</span>
                </td>
                <td>
                    {{competition.userFirstName}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/competition', competition.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/competition', competition.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(competition)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="competitions?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
