<div>
    <h2 id="page-heading">
        <span jhiTranslate="kidoleApp.localisation.home.title">Localisations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-localisation" [routerLink]="['/localisation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="kidoleApp.localisation.home.createLabel">
            Create a new Localisation
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'kidoleApp.localisation.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="localisations?.length === 0">
        <span jhiTranslate="kidoleApp.localisation.home.notFound">No localisations found</span>
    </div>
    <div class="table-responsive" *ngIf="localisations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="localisationName"><span jhiTranslate="kidoleApp.localisation.localisationName">Localisation Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="localisationLatitude"><span jhiTranslate="kidoleApp.localisation.localisationLatitude">Localisation Latitude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="localisationLongitude"><span jhiTranslate="kidoleApp.localisation.localisationLongitude">Localisation Longitude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="localisationCountry"><span jhiTranslate="kidoleApp.localisation.localisationCountry">Localisation Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="localisationTown"><span jhiTranslate="kidoleApp.localisation.localisationTown">Localisation Town</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="localisationRegion"><span jhiTranslate="kidoleApp.localisation.localisationRegion">Localisation Region</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="localisationLocality"><span jhiTranslate="kidoleApp.localisation.localisationLocality">Localisation Locality</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isSite"><span jhiTranslate="kidoleApp.localisation.isSite">Is Site</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="competitionId"><span jhiTranslate="kidoleApp.localisation.competition">Competition</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="prestationServiceId"><span jhiTranslate="kidoleApp.localisation.prestationService">Prestation Service</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let localisation of localisations ;trackBy: trackId">
                <td><a [routerLink]="['/localisation', localisation.id, 'view' ]">{{localisation.id}}</a></td>
                <td>{{localisation.localisationName}}</td>
                <td>{{localisation.localisationLatitude}}</td>
                <td>{{localisation.localisationLongitude}}</td>
                <td>{{localisation.localisationCountry}}</td>
                <td>{{localisation.localisationTown}}</td>
                <td>{{localisation.localisationRegion}}</td>
                <td>{{localisation.localisationLocality}}</td>
                <td>{{localisation.isSite}}</td>
                <td>
                    <div *ngIf="localisation.competitionId">
                        <a [routerLink]="['/competition', localisation.competitionId , 'view' ]" >{{localisation.competitionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="localisation.prestationServiceId">
                        <a [routerLink]="['/prestation-service', localisation.prestationServiceId , 'view' ]" >{{localisation.prestationServiceId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/localisation', localisation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/localisation', localisation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(localisation)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="localisations?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
