<div>
    <h2 id="page-heading">
        <span jhiTranslate="kidoleApp.localisation.home.title">Localisations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-localisation" [routerLink]="['/localisation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="kidoleApp.localisation.home.createLabel">
            Create a new Localisation
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="localisations?.length === 0">
        <span jhiTranslate="kidoleApp.localisation.home.notFound">No localisations found</span>
    </div>
    <div class="table-responsive" *ngIf="localisations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.localisation.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.localisation.latitude">Latitude</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.localisation.longitude">Longitude</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.localisation.country">Country</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.localisation.town">Town</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.localisation.region">Region</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.localisation.locality">Locality</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.localisation.isSite">Is Site</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.localisation.competition">Competition</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.localisation.prestationService">Prestation Service</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let localisation of localisations ;trackBy: trackId">
                <td><a [routerLink]="['/localisation', localisation.id, 'view' ]">{{localisation.id}}</a></td>
                <td>{{localisation.name}}</td>
                <td>{{localisation.latitude}}</td>
                <td>{{localisation.longitude}}</td>
                <td>{{localisation.country}}</td>
                <td>{{localisation.town}}</td>
                <td>{{localisation.region}}</td>
                <td>{{localisation.locality}}</td>
                <td>{{localisation.isSite}}</td>
                <td>
                    <div *ngIf="localisation.competitionId">
                        <a [routerLink]="['/competition', localisation.competitionId , 'view' ]" >{{localisation.competitionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="localisation.prestationServiceId">
                        <a [routerLink]="['/prestation-service', localisation.prestationServiceId , 'view' ]" >{{localisation.prestationServiceId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/localisation', localisation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/localisation', localisation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(localisation)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
