<div>
    <h2 id="page-heading">
        <span jhiTranslate="kidoleApp.competitionservicejoined.home.title">Competitionservicejoineds</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-competitionservicejoined" [routerLink]="['/competitionservicejoined/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="kidoleApp.competitionservicejoined.home.createLabel">
            Create a new Competitionservicejoined
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="competitionservicejoineds?.length === 0">
        <span jhiTranslate="kidoleApp.competitionservicejoined.home.notFound">No competitionservicejoineds found</span>
    </div>
    <div class="table-responsive" *ngIf="competitionservicejoineds?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.competitionservicejoined.state">State</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.competitionservicejoined.details">Details</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.competitionservicejoined.prestationService">Prestation Service</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.competitionservicejoined.competition">Competition</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let competitionservicejoined of competitionservicejoineds ;trackBy: trackId">
                <td><a [routerLink]="['/competitionservicejoined', competitionservicejoined.id, 'view' ]">{{competitionservicejoined.id}}</a></td>
                <td jhiTranslate="{{'kidoleApp.ServicesState.' + competitionservicejoined.state}}">{{competitionservicejoined.state}}</td>
                <td>{{competitionservicejoined.details}}</td>
                <td>
                    <div *ngIf="competitionservicejoined.prestationServiceId">
                        <a [routerLink]="['/prestation-service', competitionservicejoined.prestationServiceId , 'view' ]" >{{competitionservicejoined.prestationServiceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="competitionservicejoined.competitionId">
                        <a [routerLink]="['/competition', competitionservicejoined.competitionId , 'view' ]" >{{competitionservicejoined.competitionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/competitionservicejoined', competitionservicejoined.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/competitionservicejoined', competitionservicejoined.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(competitionservicejoined)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
