<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="delegation">
            <h2><span jhiTranslate="kidoleApp.delegation.detail.title">Delegation</span> {{delegation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kidoleApp.delegation.name">Name</span></dt>
                <dd>
                    <span>{{delegation.name}}</span>
                </dd>
                <dt><span jhiTranslate="kidoleApp.delegation.country">Country</span></dt>
                <dd>
                    <span>{{delegation.country}}</span>
                </dd>
                <dt><span jhiTranslate="kidoleApp.delegation.locality">Locality</span></dt>
                <dd>
                    <span>{{delegation.locality}}</span>
                </dd>
                <dt><span jhiTranslate="kidoleApp.delegation.code1">Code 1</span></dt>
                <dd>
                    <span>{{delegation.code1}}</span>
                </dd>
                <dt><span jhiTranslate="kidoleApp.delegation.delegationMembers">Delegation Members</span></dt>
                <dd>
                    <div *ngIf="delegation.delegationMembersId">
                        <a [routerLink]="['/delegation-members', delegation.delegationMembersId, 'view']">{{delegation.delegationMembersId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/delegation', delegation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
