<div>
    <h2 id="page-heading">
        <span jhiTranslate="kidoleApp.accreditation.home.title">Accreditations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-accreditation" [routerLink]="['/accreditation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="kidoleApp.accreditation.home.createLabel">
            Create a new Accreditation
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="accreditations?.length === 0">
        <span jhiTranslate="kidoleApp.accreditation.home.notFound">No accreditations found</span>
    </div>
    <div class="table-responsive" *ngIf="accreditations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.accreditation.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.accreditation.status">Status</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.accreditation.details">Details</span></th>
            <th scope="col" ><span jhiTranslate="kidoleApp.accreditation.competition">Competition</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let accreditation of accreditations ;trackBy: trackId">
                <td><a [routerLink]="['/accreditation', accreditation.id, 'view' ]">{{accreditation.id}}</a></td>
                <td jhiTranslate="{{'kidoleApp.AccreditationList.' + accreditation.name}}">{{accreditation.name}}</td>
                <td jhiTranslate="{{'kidoleApp.AccreditationState.' + accreditation.status}}">{{accreditation.status}}</td>
                <td>{{accreditation.details}}</td>
                <td>
                    <div *ngIf="accreditation.competitionId">
                        <a [routerLink]="['/competition', accreditation.competitionId , 'view' ]" >{{accreditation.competitionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/accreditation', accreditation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/accreditation', accreditation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(accreditation)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
