<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="phase">
            <h2><span jhiTranslate="kidoleApp.phase.detail.title">Phase</span> {{phase.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kidoleApp.phase.phaseName" [ngbTooltip]="'kidoleApp.phase.help.phaseName' | translate">Phase Name</span></dt>
                <dd>
                    <span>{{phase.phaseName}}</span>
                </dd>
                <dt><span jhiTranslate="kidoleApp.phase.phaseNumber" [ngbTooltip]="'kidoleApp.phase.help.phaseNumber' | translate">Phase Number</span></dt>
                <dd>
                    <span>{{phase.phaseNumber}}</span>
                </dd>
                <dt><span jhiTranslate="kidoleApp.phase.phaseDayNumber" [ngbTooltip]="'kidoleApp.phase.help.phaseDayNumber' | translate">Phase Day Number</span></dt>
                <dd>
                    <span>{{phase.phaseDayNumber}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/phase', phase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
