<div>
    <h2 id="page-heading">
        <span jhiTranslate="kidoleApp.confrontation.home.title">Confrontations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-confrontation" [routerLink]="['/confrontation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="kidoleApp.confrontation.home.createLabel">
            Create a new Confrontation
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'kidoleApp.confrontation.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="confrontations?.length === 0">
        <span jhiTranslate="kidoleApp.confrontation.home.notFound">No confrontations found</span>
    </div>
    <div class="table-responsive" *ngIf="confrontations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="confrontationName"><span jhiTranslate="kidoleApp.confrontation.confrontationName">Confrontation Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="kidoleApp.confrontation.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="kidoleApp.confrontation.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="confrontationDetails"><span jhiTranslate="kidoleApp.confrontation.confrontationDetails">Confrontation Details</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="matchsheetMatchSheetName"><span jhiTranslate="kidoleApp.confrontation.matchsheet">Matchsheet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="localisationLocalisationName"><span jhiTranslate="kidoleApp.confrontation.localisation">Localisation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="journeeId"><span jhiTranslate="kidoleApp.confrontation.journee">Journee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let confrontation of confrontations ;trackBy: trackId">
                <td><a [routerLink]="['/confrontation', confrontation.id, 'view' ]">{{confrontation.id}}</a></td>
                <td>{{confrontation.confrontationName}}</td>
                <td>{{confrontation.startDate | date:'medium'}}</td>
                <td>{{confrontation.endDate | date:'medium'}}</td>
                <td>{{confrontation.confrontationDetails}}</td>
                <td>
                    <div *ngIf="confrontation.matchsheetId">
                        <a [routerLink]="['/match-sheet', confrontation.matchsheetId , 'view' ]" >{{confrontation.matchsheetMatchSheetName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="confrontation.localisationId">
                        <a [routerLink]="['/localisation', confrontation.localisationId , 'view' ]" >{{confrontation.localisationLocalisationName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="confrontation.journeeId">
                        <a [routerLink]="['/journee', confrontation.journeeId , 'view' ]" >{{confrontation.journeeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/confrontation', confrontation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/confrontation', confrontation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(confrontation)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="confrontations?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
