<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="confrontation">
            <h2><span jhiTranslate="kidoleApp.confrontation.detail.title">Confrontation</span> {{confrontation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kidoleApp.confrontation.confrontationName">Confrontation Name</span></dt>
                <dd>
                    <span>{{confrontation.confrontationName}}</span>
                </dd>
                <dt><span jhiTranslate="kidoleApp.confrontation.startDate">Start Date</span></dt>
                <dd>
                    <span>{{confrontation.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="kidoleApp.confrontation.endDate">End Date</span></dt>
                <dd>
                    <span>{{confrontation.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="kidoleApp.confrontation.confrontationDetails">Confrontation Details</span></dt>
                <dd>
                    <span>{{confrontation.confrontationDetails}}</span>
                </dd>
                <dt><span jhiTranslate="kidoleApp.confrontation.matchsheet">Matchsheet</span></dt>
                <dd>
                    <div *ngIf="confrontation.matchsheetId">
                        <a [routerLink]="['/match-sheet', confrontation.matchsheetId, 'view']">{{confrontation.matchsheetMatchSheetName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="kidoleApp.confrontation.localisation">Localisation</span></dt>
                <dd>
                    <div *ngIf="confrontation.localisationId">
                        <a [routerLink]="['/localisation', confrontation.localisationId, 'view']">{{confrontation.localisationLocalisationName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="kidoleApp.confrontation.journee">Journee</span></dt>
                <dd>
                    <div *ngIf="confrontation.journeeId">
                        <a [routerLink]="['/journee', confrontation.journeeId, 'view']">{{confrontation.journeeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/confrontation', confrontation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
