<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="competitionServicesOffer">
            <h2><span jhiTranslate="kidoleApp.competitionServicesOffer.detail.title">Competition Services Offer</span> {{competitionServicesOffer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kidoleApp.competitionServicesOffer.competitionServicesOfferName">Competition Services Offer Name</span></dt>
                <dd>
                    <span>{{competitionServicesOffer.competitionServicesOfferName}}</span>
                </dd>
                <dt><span jhiTranslate="kidoleApp.competitionServicesOffer.competitionServicesOfferDetail">Competition Services Offer Detail</span></dt>
                <dd>
                    <span>{{competitionServicesOffer.competitionServicesOfferDetail}}</span>
                </dd>
                <dt><span jhiTranslate="kidoleApp.competitionServicesOffer.competitionServicesOfferUrl">Competition Services Offer Url</span></dt>
                <dd>
                    <span>{{competitionServicesOffer.competitionServicesOfferUrl}}</span>
                </dd>
                <dt><span jhiTranslate="kidoleApp.competitionServicesOffer.rubric">Rubric</span></dt>
                <dd>
                    <div *ngIf="competitionServicesOffer.rubricId">
                        <a [routerLink]="['/rubrique', competitionServicesOffer.rubricId, 'view']">{{competitionServicesOffer.rubricRubriqueName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="kidoleApp.competitionServicesOffer.competition">Competition</span></dt>
                <dd>
                    <div *ngIf="competitionServicesOffer.competitionId">
                        <a [routerLink]="['/competition', competitionServicesOffer.competitionId, 'view']">{{competitionServicesOffer.competitionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/competition-services-offer', competitionServicesOffer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
