<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-competition-services-offer-heading" jhiTranslate="kidoleApp.competitionServicesOffer.home.createOrEditLabel">Create or edit a Competition Services Offer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.competitionServicesOffer.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.competitionServicesOffer.details" for="field_details">Details</label>
                    <input type="text" class="form-control" name="details" id="field_details"
                           formControlName="details"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.competitionServicesOffer.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                           formControlName="url"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.competitionServicesOffer.rubrique" for="field_rubrique">Rubrique</label>
                    <select class="form-control" id="field_rubrique" name="rubrique" formControlName="rubriqueId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rubriqueOption.id" *ngFor="let rubriqueOption of rubriques; trackBy: trackById">{{rubriqueOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.competitionServicesOffer.competition" for="field_competition">Competition</label>
                    <select class="form-control" id="field_competition" name="competition" formControlName="competitionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="competitionOption.id" *ngFor="let competitionOption of competitions; trackBy: trackById">{{competitionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
