<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="team">
            <h2><span jhiTranslate="kidoleApp.team.detail.title">Team</span> {{team.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kidoleApp.team.teamName">Team Name</span></dt>
                <dd>
                    <span>{{team.teamName}}</span>
                </dd>
                <dt><span jhiTranslate="kidoleApp.team.user">User</span></dt>
                <dd>
                    {{team.userFirstName}}
                </dd>
                <dt><span jhiTranslate="kidoleApp.team.confrontation">Confrontation</span></dt>
                <dd>
                    <div *ngIf="team.confrontationId">
                        <a [routerLink]="['/confrontation', team.confrontationId, 'view']">{{team.confrontationId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="kidoleApp.team.poules">Poules</span></dt>
                <dd>
                    <div *ngIf="team.poulesId">
                        <a [routerLink]="['/poules', team.poulesId, 'view']">{{team.poulesId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="kidoleApp.team.delegation">Delegation</span></dt>
                <dd>
                    <div *ngIf="team.delegationId">
                        <a [routerLink]="['/delegation', team.delegationId, 'view']">{{team.delegationId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/team', team.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
