<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-options-heading" jhiTranslate="kidoleApp.options.home.createOrEditLabel">Create or edit a Options</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.options.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.options.value1" for="field_value1">Value 1</label>
                    <input type="checkbox" class="form-control" name="value1" id="field_value1"
                           formControlName="value1"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.options.value2" for="field_value2">Value 2</label>
                    <input type="number" class="form-control" name="value2" id="field_value2"
                           formControlName="value2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kidoleApp.options.competition" for="field_competition">Competition</label>
                    <select class="form-control" id="field_competition" name="competition" formControlName="competitionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="competitionOption.id" *ngFor="let competitionOption of competitions; trackBy: trackById">{{competitionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
